<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDB-CtZgaRb4lljV-HKyWJAOpf2aLJrJYI</string>
	<key>GCM_SENDER_ID</key>
	<string>637813790730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gaganamol.attendanceCounter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-d9e3a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-d9e3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637813790730:ios:5005a525e79a49785a67f3</string>
</dict>
</plist>